* {
    margin: 0;
    padding: 0;
  
    scroll-behavior: smooth;
    font-family: 'Jost', sans-serif;
    list-style: none;
    text-decoration: none;
    
  }
  
  .navbar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding-left: 50px;
    padding-right: 250px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    
    box-shadow: 0 4px 40px rgb(14 55 54/ 14%);
  }
  
  .navbar h1 {
    padding-bottom: 45px;
  }
  
  .center {
    color: #2c2c2c;
    display: flex;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 40%;
  }
  .navmenu {
    display: flex;
  }
  .navmenu a {
    color: #2c2c2c;
    padding: 10px 20px;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 400;
    transition: all .42s ease;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding-left: 100px;
  }
  .navmenu a:hover{
    color: green;
  }
  .center a {
    padding-right: 40px;
  }
  
  .nav-icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    left: 80%;
    top: 45%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 8%;
    height: 5px;
  }
  .nav-icon i{
    margin-right: 20px;
    color: #2c2c2c;
    font-size: 25px;
    font-weight: 400;
    transition: all .42s ease;
  }
  .nav-icon i:hover{
    transform: scale(1.2);
    color: green;
  }
  .main-text{
    top: 30%;
    font-size: 35px;
    color: #fff;
    z-index: 10001;
    cursor: pointer;
  }
  
  .main-home{
    top: 50px;
    width: 100%;
    height: 100vh;
    background-color: #e5e5e5;
    background-position: center;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    color: #ccc;
    
  
  
  }
  .main-text h1{
    color: #fff;
    font-size: 50px;
    text-transform: capitalize;
    line-height: 1.1;
    font-weight: 600;
    position: absolute;
    top: 15vh;
    left: 30px;
    
    
  }
  .main-text p{
    color: #7B904B;
    font-size: 20px;
    font-style: italic;
    position: absolute;
    top: 22vh;
    left: 30px;
    
  }
  .main-btn{
    display: inline-block;
    color: #fff; font-size: 16px;
    text-transform: capitalize;
    font-weight: 500; border: 2px solid #7B904B; padding: 12px 25px;    transition: all .42s ease;
    border-radius: 8px;
  }
  .main-btn:hover{
    background-color: #7B904B;
    color: black;
  }
  .main-btn i{
    vertical-align: middle;
  }
  

 
  .main-btn {
    display: inline-block;
  color: #fff; font-size: 16px;
  text-transform: capitalize;
  font-weight: 500;
  border: 2px solid #7B904B; 
  padding: 12px 25px;    
  transition: all .42s ease;
  border-radius: 8px;


    position: fixed;
    top: 730px;
  
  left: 90vh;
   }
   
   



   .sub-menu-wrap{
    position: absolute;
    top: 100%;
    right: 10%;
    width: 320px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
    z-index: 1000;
}

.sub-menu-wrap.open-menu {
    max-height: 500px;
}

.sub-menu{
    background: #fff;
    padding: 20px;
    margin: 15px;
    z-index: 1000;
}
.uer-info {
    display: flex;
    align-items: center;

}

.uer-info h3 {
    font-weight: 500;

}

.uer-info img {
    width: 60px;
    border-radius: 50%;
    margin-right: 15px;
}

.sub-menu hr {
    border: 0;
    height:1px;
    width: 100%;
    background: #ccc;
    margin: 15px 0 10px;
}

.sub-menu-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;
    margin: 30px 0;
}

.sub-menu-link p {
    width: 100%;
}

.sub-menu-link img {
    width: 40px;
    background: #e5e5e5;
    border-radius: 50%;
    padding: 8px;
    margin-right: 15px;

}


.sub-menu-link span {
    font-size: 22px;
    transition: transform 0.5s;
}
.sub-menu-link:hover span {
    transform: translate(5px);
}

.sub-menu-link:hover p {
    font-weight: 600;
}






.sub-menu-wrap1{
    position: absolute;
    top: 100%;
    right: 10%;
    width: 320px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
    z-index: 1000;
}

.sub-menu-wrap1.open-menu1 {
    max-height: 700px;
}

.sub-menu1{
    background: #fff;
    padding: 20px;
    margin: 15px;
}
.uer-info1 {
    display: flex;
    align-items: center;

}

.uer-info1 h3 {
    font-weight: 500;

}

.uer-info1 img {
    width: 60px;
    border-radius: 50%;
    margin-right: 15px;
}

.sub-menu1 hr {
    border: 0;
    height:1px;
    width: 100%;
    background: #ccc;
    margin: 15px 0 10px;
}

.sub-menu-link1 {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;
    margin: 30px 0;
}

.sub-menu-link1 p {
    width: 100%;
}

.sub-menu-link1 img {
    width: 40px;
    background: #e5e5e5;
    border-radius: 50%;
    padding: 8px;
    margin-right: 15px;

}


.sub-menu-link1 span {
    font-size: 22px;
    transition: transform 0.5s;
}
.sub-menu-link1:hover span {
    transform: translate(5px);
}

.sub-menu-link1:hover p {
    font-weight: 600;
}



.small-container {
    position: absolute;
    top: 20vh;
    left: 30vh;

}


table{
    width: 150vh;
    padding-left: 5vh;
    border: #2c2c2c;
    border-style: solid;
    background-color: #7B904B;

}

.invoice-table td {
    width: 1px;
}

img {
    display: flex;
    width: 150px;
    height: 150px;
    position: absolute;
    top: 5vh;
}

.b{
    position: absolute;
    top: 23vh;
}

.a {
    position: absolute;
    top: 41vh;
}

.product-title1 h1 {
    display: flex;
    position: absolute;
    left: 18vh;
    top: 5vh;
    
}
.product-title2 h1 {
    display: flex;
    position: absolute;
    left: 18vh;
    top: 23vh;

}
.product-title3 h1 {
    display: flex;
    position: absolute;
    left: 18vh;
    top: 41vh;

}

.pricee-title1 h1 {
    display: flex;
    position: absolute;
    left: 18vh;
    top: 8vh;
    font-size: 20px;

}
.pricee-title2 h1 {
    display: flex;
    position: absolute;
    left: 18vh;
    top: 26vh;
    font-size: 20px;

}
.pricee-title3 h1 {
    display: flex;
    position: absolute;
    left: 18vh;
    top: 44vh;
    font-size: 20px;

}




.remove-title1{
    display: flex;
    position: absolute;
    left: 18vh;
    top: 11vh;
    font-size: 10px;
    color: red;
}
.remove-title2{
    display: flex;
    position: absolute;
    left: 18vh;
    top: 29vh;
    font-size: 10px;
    color: red;
}
.remove-title3{
    display: flex;
    position: absolute;
    left: 18vh;
    top: 47vh;
    font-size: 10px;
    color: red;
}

#txt3 {
    display: flex;
    position: absolute;
    left: 76vh;
    top: 47vh;
    font-size: 15px;
    width: 30px;

}
#txt2 {
    display: flex;
    position: absolute;
    left: 76vh;
    top: 29vh;
    font-size: 15px;
    width: 30px;

}

#txt1 {
    display: flex;
    position: absolute;
    left: 76vh;
    top: 11vh;
    font-size: 15px;
    width: 30px;

}

.priceee-title1 h1 {
    display: flex;
    position: absolute;
    left: 122vh;
    top: 11vh;
    font-size: 20px;

}
.priceee-title2 h1 {
    display: flex;
    position: absolute;
    left: 122vh;
    top: 29vh;
    font-size: 20px;

}
.priceee-title3 h1 {
    display: flex;
    position: absolute;
    left: 122vh;
    top: 47vh;
    font-size: 20px;

}

hr {
    border-top: 5px solid #fff;
    position: absolute;
    left: 107vh;
    top: 54vh;
    display: flex;
    width: 45vh;
}

.Subtotal-title1 {
    display: flex;
    position: absolute;
    left: 110vh;
    top: 55vh;
    font-size: 15px;
}

.Total-title2 {
    display: flex;
    position: absolute;
    left: 110vh;
    top: 65vh;
    font-size: 15px;
}

.Subtotall-title1 {
    display: flex;
    position: absolute;
    left: 140vh;
    top: 55vh;
    font-size: 15px;
}

.Totall-title2 {
    display: flex;
    position: absolute;
    left: 140vh;
    top: 65vh;
    font-size: 15px;
}

.main-btn {
    display: inline-block;
  color: #fff; font-size: 16px;
  text-transform: capitalize;
  font-weight: 500;
  border: 2px solid #7B904B; 
  padding: 12px 25px;    
  transition: all .42s ease;
  border-radius: 8px;


    position: fixed;
    top: 870px;
  
  left: 152vh;
   }